body{
  text-align: center;
}
.header{
font-size: 2em;
display: inline-block;
background-color: darkgray;
padding: 20px;
border-radius: 20px;
}
.optionDiv{
  border-radius: 20px;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  margin: 50px;
  display: inline-block;
}
.question{
  padding: 10px;
  font-size: 2em;
  background-color:lightgray;
}
.green {
  border-radius: 20px;
  height: 100%;
  background-color: green;
}

.red {
  border-radius: 20px;
  height: 100%;
  background-color: red;
}

.white {
  border-radius: 20px;
  height: 100%;
  background-color: #ffffff;
}
.button{
  height: 50px;
  width: 150px;
  border: 2px solid black;
  border-radius: 10px;
}
